$box1: 8px;
$box2: 16px;
$box3: 24px;
$box4: 32px;
$box5: 64px;
$box6: 128px;

$size0: 18px;
$size1: 24px;
$weightNormal: normal;
$weightBold: bold;

$colorWhite: white;
$colorWhitesmoke: whitesmoke;
$colorLightgray: lightgray;
$colorSilver: silver;
$colorDarkgray: darkgray;
$colorGray: gray;
$colorDimgray: dimgray;
$colorBlack: black;

$colorBackground: $colorWhite;