@import '../style/variables';

.advice__background {
    background-size: cover;
    background-position: center center;
}

.advice {
    width: 600px;
    max-width: 80%;
}
.advice__box-background {
    opacity: 0.8;
}

.advice-nav {
    padding: 0;

    background: none;
    border: none;
    color: $colorGray;

    &:focus {
        outline: none;
    }
}