@import 'style/variables';

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: $size0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $colorBackground;
}
