$box1: 8px;
$box2: 16px;
$box3: 24px;
$box4: 32px;
$box5: 64px;

$size1: 16px;
$size4: 45px;

$colorLightgrey: #D3D3D3;
$colorGrey: #C0C0C0;
$colorBlue: #0000FF;
$colorRed: #FF0000;
$colorGreen: #00FF00;